nodered/userDir/.flows_Andreas-Bade-Knowit.local.json.backup
[{"id":"147e1f88.48cd3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"86d41f3f.49725","type":"ui_tab","z":"","name":"Activity","icon":"dashboard"},{"id":"7f37e2ae.2fed5c","type":"ui_group","z":"","name":"Default","tab":"86d41f3f.49725","disp":true,"width":"6","collapse":false},{"id":"215fc8ca.942ae8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e6e4ba8f.b9c688","type":"http request","z":"147e1f88.48cd3","name":"","method":"GET","ret":"txt","url":"http://localhost:8080/socketList","tls":"","x":230,"y":60,"wires":[["91b07539.888e58"]]},{"id":"ef31adb6.0328e","type":"inject","z":"147e1f88.48cd3","name":"repeat","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":60,"wires":[["e6e4ba8f.b9c688"]]},{"id":"91b07539.888e58","type":"json","z":"147e1f88.48cd3","name":"","property":"payload","action":"","pretty":false,"x":370,"y":60,"wires":[["7e7ce42a.52fd5c"]]},{"id":"7e7ce42a.52fd5c","type":"function","z":"147e1f88.48cd3","name":"count","func":"\nreturn {payload: msg.payload.sockets.length};","outputs":1,"noerr":0,"x":490,"y":60,"wires":[["107f6a79.df9806"]]},{"id":"107f6a79.df9806","type":"ui_gauge","z":"147e1f88.48cd3","name":"","group":"7f37e2ae.2fed5c","order":0,"width":0,"height":0,"gtype":"gage","title":"Sockets","label":"","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":60,"wires":[]}]