nodered/userDir/flows.json
[{"id":"9c3a64c2.f75b78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a44e092c.ff6798","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"7bb3950d.7f264c","type":"ui_group","z":"","name":"Default","tab":"a44e092c.ff6798","disp":true,"width":"6","collapse":false},{"id":"8e5a75d8.126cc8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c2e5a3a9.7522","type":"inject","z":"9c3a64c2.f75b78","name":"rpt","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":40,"wires":[["d33d2ef1.8847d"]]},{"id":"d33d2ef1.8847d","type":"http request","z":"9c3a64c2.f75b78","name":"socketList","method":"GET","ret":"txt","url":"http://localhost:8080/socketList","tls":"","x":210,"y":40,"wires":[["5f6968b2.76f638"]]},{"id":"5f6968b2.76f638","type":"json","z":"9c3a64c2.f75b78","name":"","property":"payload","action":"","pretty":false,"x":350,"y":40,"wires":[["370c5981.32f236"]]},{"id":"370c5981.32f236","type":"function","z":"9c3a64c2.f75b78","name":"cnt","func":"\nreturn { payload: msg.payload.sockets.length};","outputs":1,"noerr":0,"x":470,"y":40,"wires":[["9abff301.e1453"]]},{"id":"9abff301.e1453","type":"ui_gauge","z":"9c3a64c2.f75b78","name":"","group":"7bb3950d.7f264c","order":0,"width":0,"height":0,"gtype":"gage","title":"Clients","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":590,"y":40,"wires":[]}]